# ===============================
# Global
# ===============================
.env
*.log
*.zip

# ===============================
# Runtime / uploads
# ===============================
**/uploads/
**/profilePhoto/

# ===============================
# Node / Vite
# ===============================
**/node_modules/
**/dist/

# ===============================
# IDEs
# ===============================
.idea/
.vscode/
